<?xml version="1.0" encoding="UTF-8" ?>
<self-org-config>
    <sensor type="Red5Sensor">
        <managed-server port="5080" app="wtRed5_cld" host="172.30.4.2"/>
        <scheduler time="30000"/>
    </sensor>
    <filter_chain type="DataFilterChain">
        <filter class="BandwithToPacketFilter">
            <param name="PACKET_SIZE" value="482"/>
        </filter>
    </filter_chain>
    <coordinator type="Red5ServerCoordinator">
    </coordinator>
    <model type="FuzzyModel">
        <param name="CLIENTS_THR" value="50"/>
        <param name="CPU_THR" value="40"/>
        <param name="STREAMSIN_THR" value="20"/>
        <param name="STREAMSOUT_THR" value="10"/>
    </model>
    <estimator type="ThresholdEstimator">
        <param name="LOWER_THRESHOLD" value="20"/>
        <param name="HIGH_THRESHOLD" value="40"/>
    </estimator>
    <decisionMaker class="ClientPolicyDecisionMaker">
        <param name="LOWER_THRESHOLD_CHANGE_COUNT" value="5"/>
        <param name="HIGH_THRESHOLD_CHANGE_COUNT" value="2"/>
    </decisionMaker>
    <actuator class="ClientPolicyActuator">
    </actuator>
    <adaptor class="AntAdaptor">
    </adaptor>
</self-org-config>