<?xml version="1.0" encoding="UTF-8" ?>
<self-org-config>
    <sensor type="Red5Sensor">
        <managed-server port="5082" app="wtRed5_cld" host="172.30.4.2"></managed-server>
        <scheduler time="30000"></scheduler>
    </sensor>
    <filter type="DataFilterChain">
    </filter>
</self-org-config>